@import "../variables.scss";

.routerItemContainer {

}

.routerItem {
  text-decoration: none;
  font-family: $common-font;
  font-size: 17px;
  align-self: center;
  margin: 0 10px;
  padding-bottom: 1px;
}

.routerItem.active {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}