@import "../variables.scss";

.expContainer {
  height: 1200px;
  overflow: hidden;
  position: relative;
  padding: 20px 10%;
  background: white;
}

.expTitle {
  color: $letter-color;
}

.tab3 {
  position: absolute;
  z-index: 99;
  width: 80%;
  height: 100%;
}


.skills {
  margin-top: 40px;
}