@import "../variables.scss";

.expContainer {
  position: relative;
  padding: 20px 10%;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.expTitle {
  color: $letter-color;
}

.tab3 {
  //position: absolute;
  z-index: 99;
  width: 80%;
  height: 100%;
}


.skills {
  position: absolute;
  top: 140px;
  width: 65%;
  left: 10%;
}